<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Menù</title>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles.css"/>
<script src="bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>
</head>
<body id="mainBody">
	<div id="malin" class="text-center">
		<h2>Menù Principale</h2><br/>
		<table class="table text-center">
		<h3>Ciao! Che vuoi fare?</h3>
			<tr><td><a href="/cliente">Gestisci clienti</a></td></tr>
			<tr><td><a href="/offerta">Gestisci offerte</a></td></tr>
			<tr><td><a href="/preventivo">Gestisci preventivi</a></td></tr>
		</table>
	</div>
</body>
</html>